.data-hora {
    text-align: center;
}

#div-btn-registrar-ponto {
    text-align: center;
}

.data-hora p {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
}

#btn-registrar-ponto, #btn-dialog-registrar-ponto{
    font-size: 1.5rem;
    padding: 25px;
    border: 0px;
    background-color: rgb(80, 11, 241);
    color: white;
    border-radius: 4px;

}

#btn-registrar-ponto:hover, #btn-ajustar-ponto:hover {
    background-color: red;
}

#btn-registrar-ponto:active {
    background-color: black;
}

#select-tipos-ponto {   /*Combobox para escolher tipo do ponto */ 
    font-size: 1.5rem;
    padding: 25px;
}

#dialog-ponto p { 
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;    
    text-align: center;
}

#btn-dialog-fechar {
    padding: 12px;
    border: 0px;
    background-color: red;
    color: white;
    font-size: 1.1rem;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 4px 0 4px;
}
.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

#div-alerta {       /* Mensagem de confrimação */
    background-color: rgb(5, 156, 5);
    color: white;
    padding: 15px;
    position: fixed;
    right: 15px;
    bottom: 15px;
}
/* Ajustar ponto */
#btn-ajustar-ponto{
    font-size: 1.5rem;
    padding: 23px;
    margin-top: 22px;
    margin-left: 2px;
    padding-left: 40px;
    padding-right: 34px;
    border: 0px;
    background-color: rgb(80, 11, 241);
    color: white;
    text-align: center;
    border-radius: 4px;
}
/* #dialog-ajuste, {
    width: 50%;
    height: 50vh;
    border: solid 3px black;
    border-color: #444;
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;    
    
} 
/*  fechar modal Ajuste */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#container {
    display: flex;
}

#menu {
    position: fixed; /* Faz o menu ficar fixo */
    top: 0; /* Alinha o menu ao topo */
    left: 0; /* Alinha o menu à esquerda */
    width: 200px;
    height: 100%; /* Faz o menu ocupar toda a altura da tela */
    background-color: #333;
    padding: 20px;
    color: #fff;
    border-radius: 0 4px 4px 0; /* Ajusta os cantos */
}

#menu a {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border-radius: 7px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu a:hover {
    background-color: #747373;
}
